deepagents
langchain_ollama
langchain
langchain-core
python-dotenv
langchain-huggingface
langchain-text-splitters
firecrawl-py>=4.44.0

numpy==1.26.4
scipy==1.13.1
scikit-learn==1.5.2
torch==2.2.2
transformers==4.48.3
sentence-transformers==3.4.1